extends layouts/main-layout.pug

block content_authenticatedNav
  if authenticated
    li(class='nav-link') 
      a(href="/logout") Logout
  else
    li(class='nav-link') 
      a(href="/login") Login  
block content
  div#app 
  if dungeons
    div(class="characters-list-container")
      each dungeon in dungeons
        div(class="dungeon-card")
          tbody 
            tr
              td Dungeon Name: 
              td #{ dungeon.dungeon_name }
            tr 
              td Id: 
              td #{ dungeon.id }
            tr 
              td Size: 
              td #{ dungeon.size }
            tr
              td Monsters:
              td 
                if dungeon.monsters 
                  each monster in dungeon.monsters 
                    div(class="monster-card-tiny")
                      img(class="monster-card-tinyimg" src=monster.img_main)
                      h4(class="monster-card-header")= monster.name
 
                
//- block content
//-   p This content is from dungeons.pug!
//- block more_content 
//-   p Your new dungeon
//-   table 
//-     tbody 
//-       tr
//-         td Dungeon name 
//-         td #{ dungeon.dungeon_name }
//-       tr 
//-         td id 
//-         td #{ dungeon.id }
//-       tr 
//-         td Size 
//-         td #{ dungeon.size }
//-       tr
//-         td Monsters 
//-         td #{ dungeon.monsters.map(monster) => monster.name }
        
