extends layouts/main-layout.pug

block content_authenticatedNav
  if authenticated
    li(class='nav-link') 
      a(href="/logout") Logout
  else
    li(class='nav-link') 
      a(href="/login") Login  
block content
  section
    if dungeons
      ul
        for dungeon in dungeons
          li=dungeon

//- block content
//-   p This content is from dungeons.pug!
//- block more_content 
//-   p Your new dungeon
//-   table 
//-     tbody 
//-       tr
//-         td Dungeon name 
//-         td #{ dungeon.dungeon_name }
//-       tr 
//-         td id 
//-         td #{ dungeon.id }
//-       tr 
//-         td Size 
//-         td #{ dungeon.size }
//-       tr
//-         td Monsters 
//-         td #{ dungeon.monsters.map(monster) => monster.name }
        
