extends layouts/main-layout.pug

block content_authenticatedNav
  if authenticated
    li(class='nav-link') 
      a(href="/api/users/logout") Logout
  else
    li(class='nav-link') 
      a(href="/api/users/login") Login  
block content
  if monsters
  div#app
    div(class="monster-list-container")
      h2(class="monster-list-header") Monsters  
      table(class="monsters-list")
        for monster in monsters
          tr 
            td
              button(class="monster-btn")= monster.name
    if monsterView  
      div(class="monster-view")
        img(class="monster-image" src=monsterView.img_main)
        div(class="monster-info")
          h3(class="name")= monsterView.name
          p(class="type")= monsterView.size  
            span= monsterView.type 
            span= monsterView.alignment
          p(class="monster-description")= monsterView.description
